# Fichiers de cache CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeScripts/
Makefile
*.make

# Dossiers build et out générés par CMake/Visual Studio
build/
out/

# Dossier .vs pour les configurations spécifiques à Visual Studio
.vs/

# Fichiers binaires, intermédiaires et de package
Debug/
Release/
x64/
x86/
*.exe
*.dll
*.so
*.dylib
*.lib
*.pdb
*.exp
*.ilk
*.out
*.iobj
*.ipdb
*.rsp
*.obj
*.o
*.a
*.app